@import '../base/variables';
@import '../base/placeholders';

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.logo {
    width: 85px;
    height: 18px;
    fill: $black;

    @media screen and (min-width: $tablet) {
        width: 100px;
        height: 21px;
    }

    @media screen and (min-width: $desktop) {
        width: 150px;
        height: 32px;
    }

}

body:has(.menu-container.is-open) {
    max-height: 100vh;
    overflow: hidden;
}

.menu-container.is-open .logo {
    @media screen and (max-width: $desktop) {
        fill: $white;
    }
}

.menu-button {
    width: 48px;
    height: 48px;
    padding: 12px;

    background-color: transparent;
    border: 0;

    @media screen and (min-width: $desktop) {
        display: none;
    }

}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
    position: fixed;
    top: 24px;
    left: 29px;
    width: 24px;
    height: 24px;
    z-index: 3;

}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &.is-open {
        @media screen and (max-width: $desktop) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            height: 100%;

            margin: 0 auto;
            padding: 12px 32px 40px;
            background-color: $black;
        }


    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

}

.site-nav {
    @media screen and (max-width: 1023px) {
        display: none;
        width: 254px;
        margin-top: auto;

        align-self: start;
    }

}

.menu-container.is-open .site-nav {
    display: block;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        height: 30px;
        align-items: center;
        gap: 16px;

    }

}

.nav-item:first-child {
    &::after {
        @media screen and (max-width: 1023px) {
            content: ' ';
            display: inline-block;

            margin-top: 32px;
            width: 254px;
            height: 1px;
            background: #D4D3D0;
        }
    }

    @media screen and (min-width: $desktop) {
        order: 6;
        border-left: 1px solid #D4D3D0;
        padding-left: 16px;
    }
}

.nav-item--link {
    @include h3;
    color: $white;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.13px;

    @media screen and (min-width: $desktop) {
        @include body;
    }
}

.header-buttons {
    display: inline-flex;
    gap: 16px;

    @media screen and (min-width: $desktop) {
        margin-left: 26px;
    }
}

.cart-button {
    width: 48px;
    height: 48px;
    padding: 12px;

    border: 0;
    border-radius: 100px;
    background: rgba(212, 211, 208, 0.20);

    // @media screen and (min-width: $desktop) {
    //     margin-left: 16px;
    // }
}

.auth-button {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        width: 48px;
        height: 48px;
        padding: 12px;

        border: 0;
        border-radius: 100px;
        background: rgba(212, 211, 208, 0.20);
    }
}

.contact-tel {
    @include button-text;
    color: $orange;
    font-size: 16px;

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        order: 3;
    }
}

.icon-call {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}