@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import '../base/variables';

@mixin h1{
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $black;

    @media screen and (min-width:$desktop) {
        font-size: 36px;
        line-height: 46px;
    }
}

@mixin h2{
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 600;
    line-height: 49px;
    color: $black;

    @media screen and (min-width:$desktop) {
        font-size: 32px;
        line-height: 49px;
    }
}

@mixin h3{
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: $black;
}

@mixin h4{
    font-family: $font-accent;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: $black;
}

@mixin subtitle{
    font-family: $font-accent;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $grey-dark;
}

@mixin body{
    font-family: $font-accent;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $grey-dark;
}

@mixin button-text{
    font-family: $font-accent;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: $white;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

@mixin caption{
    font-family: $font-accent;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: $grey-dark;
}

.subheading{
    @include h2;
}