.navigation {
    display: flex;
    gap: 12px;


    .navigation-item:not(:last-child) {
        padding-right: 12px;
        border-right: 1px solid #D4D3D0;
    }

    .navigation-link {
        color: $grey-dark;
        font-family: $font-primary;
        font-size: 12px;
        font-weight: 300;
        line-height: 130%;

        &--current {
            font-weight: 400;
            color: $orange;
        }
    }
}

.recommended {
    padding-top: 16px;
    padding-bottom: 40px;

    @media screen and (max-width: 767px) {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;

    }

    @media screen and (min-width: $tablet) {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .heading {
        @include h2;
        line-height: 31px;
        margin-bottom: 32px;
    }

    .recommendedProducts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-card {
            max-width: 100%;

            @media screen and (min-width: $tablet) {
                margin: 0;
                width: calc(100% / 4);
            }
        }
    }
}